@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
        font-family: Manrope;
        font-weight: 600;
    }
    @font-face {
        font-family: Manrope;
        font-weight: 800;
    }
}

.toggle__dot {
    top: .25rem;
    left: .25rem;
    transition: all 0.3s ease-in-out;
}

input:checked~.toggle__dot {
    transform: translateX(125%);
}

.slidecontainer {
    width: 100%;
}

input[type=range]::-moz-range-progress {
    background-color: #a5f3eb;
    height: 7px;
    border-radius: 25px;
}

input[type=range]::-moz-range-track {
    background-color: #eaeefb;
    height: 7px;
    border-radius: 25px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    box-shadow: 0px 15px 13px 4px rgba(16, 213, 194, .5);
    background: url('./imgs//icon-slider.svg') #10d5c2;
    background-repeat: no-repeat;
    background-position: center;
}

input[type=range]::-moz-range-thumb:active {
    background-color: #10d5c2;
}

input[type=range]::-moz-range-thumb:hover {
    cursor: pointer;
}